# Python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

# Environnements
.env
.venv
ids_env/
venv/

# Sauvegardes
*.bak
*.backup

# Données brutes
cicflow_live/
*.pcap
data/*.csv
data/raw/
data/processed/

# Logs
*.log
logs/

# Django
db.sqlite3
*.sqlite3
media/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
staticfiles/
test_samples*.json
diagnose_lstm.py
zeek_pipeline.py
dashboard/nfstream_pipeline.py
